{
    "presets": [["es2015", {"loose": true}], "stage-0", "react"],
    "plugins": [
        ["module-resolver", {
            "root": [""],
            "alias": {
                "babel-plugin-transform-metadata": "./src"
            }
        }],
        ["transform-react-jsx", {
            "pragma": "_t.h"
        }],
        "syntax-flow",
        "espower",
        "transform-flow-strip-types"
    ]
}
